settings {
        logfile = "{{lsyncd_logging_dir}}/{{lsyncd_logging_file}}",
        statusFile = "{{lsyncd_logging_dir}}/{{lsyncd_logging_status_file}}",
        statusInterval = 1
}

{% for target in lsyncd_targets %}
sync {
        default.rsync,
        source="{{target.sourcedir}}",
        target="{{target.host}}:{{target.targetdir}}",
        
        rsync = {
          rsh ="/usr/bin/ssh -l {{target.user}} -i /{{target.user}}/.ssh/id_rsa",
          archive = true, -- use the archive flag in rsync
          perms = true, -- Keep the permissions
          owner = true, -- Keep the owner
          _extra = {"-a", "--delete-after"},
        },
        
        delay = {{target.delay}}, -- We want to delay the syncing for 5 seconds so we queue up the events
        maxProcesses = {{target.maxProcesses}}, -- We only want to use a maximum of 4 rsync processes at same time
}
{% endfor %}